body{
	margin: 0;
	padding: 0;
}
#header{
	background-color:#2D3E50;
	background-size: 100% 100%;
	height: 100vh;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);

}
.navbar-brand{
	color: #87A559!important;
	font-size: 40px;
	font-weight: bold;
	padding: 0px;
}
.navbar-modify{
	color: #f5f5f5;
}
.nav-item a{
	color: #fff!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
   background:#799556;
   color: #f5f5f5;
   border-radius: 5px;
   padding: 10px 20px;
}
.header-heading{
	position: absolute;
	top: 30%;
	left: 10%;
	width: 400px;	


}
.header-heading h2{
	color: #fff;
}
.header-heading p{
	color: #fff;
	font-size: 14px;
}

.app{
	color: #87A559;
}
.sup{
	background: #799556;
	color: #fff;
	padding: 5px 20px;
	font-size: 12px
}
.sin{
	background: #fff;
	color: #000;
	padding: 5px 20px;
	font-size: 12px
}
.icon1{
	position: absolute;
	top: 85%;
	left: 10%;
	z-index: 1;

}
.icon2{
	position: absolute;
	top: 80%;
	left: 25%;
	z-index: 1;	
}
.icon3{
	position: absolute;
	top: 74%;
	left: 40%;
	z-index: 1;	
}
.icon i{
	font-size: 50px;
	color: #fff;
	background: #799556;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	text-align: center;	
	margin: 0px 120px;
}
		/*      about section */
#about-section{
	height: 100vh;
	margin-bottom: 100px;

}
.bestpart{
	margin-top: 180px;
}

	/*              social-section   */
#social-section{
	height: 100vh;
	background-color:#ededed;
	position: relative;
	clip-path:polygon(0% 50%, 100% 0%, 100% 50%, 0% 100%);
}
.icon-setting{
	position: absolute;
	top: 60%;
	left: 10%;
}
.icon-love{
	position: absolute;
	top: 45%;
	left: 35%;
}
.icon-dashboard{
	position: absolute;
	top: 30%;
	left: 60%;
}
.social-icon i{
	font-size: 50px;
	color: #fff;
	background: #799556;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 30% 30% 0% 30% ;
	text-align: center;	
	margin: 0px 120px;
}
.#feature-section{
	height: 100vh;
	position: relative;
}
.portfolio img{
	margin: 150px 0px 50px 0px;

}
.fea1 i,.fea2 i,.fea3 i, .fea4 i{
	font-size: 50px;
	color: #fff;
	background: #799556;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 30% 30% 0% 30% ;
	text-align: center;	
	margin: 0px 20px 0px 0px; 
}
.fea1{
	position: absolute;
	top: 0%;
	left: 0%;
}
.fea2{
	position: absolute;
	top: 35%;
	left: 5%;
}
.fea3{
	position: absolute;
	top: 70%;
	left: 15%;
}
.fea4{
	position: absolute;
	top: 105%;
	left: 25%;
}
/*       footer section */
#footer-section{
	margin-top: 200px;
	height: 300px;
	background-color:#2D3E50;
	position: relative;
	clip-path:polygon(0% 70%, 100% 0%, 100% 100%, 0% 100%);
}
.footer p{
	color: #fff!important;
	position: absolute;
	top: 80%;
	left: 40%;
	font-size: 14px;
}

/*                    ------- RESPONSIVE   PART ----------------- */
@media(max-width:575px){  

.bestpart{
	margin-top: 0px;
}
#social-section{
	
	margin-top: 500px;
}
.icon-setting{
	
	top: 55%;
	left: 0%;
}
.icon-love{
	
	top: 40%;
	left: 20%;
}
.icon-dashboard{

	top: 28%;
	left: 43%;
}


.fea1-paragraph{
	width: 100px;
}
.fea1-paragraph p{
	font-size: 12px;
}
.fea1-paragraph h4{
	font-size: 14px;
}
.fea1{
	top: 10%;
	left: 0%;

}
.fea2{
	top: 10%;
	left: 25%;

}
.fea3{
	top: 10%;
	left: 50%;

}
.fea4{
	top: 10%;
	left: 75%;

}
.fea1 i,.fea2 i,.fea3 i, .fea4 i{
	font-size: 25px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	
	margin: 0px 20px 0px 0px; 
}

}
@media (min-width:576px) and (max-width: 767px)  /* SM part  */
{

.bestpart{
	margin-top: 20px;
}

.icon-setting{
	
	top: 55%;
	left: 0%;
}
.icon-love{
	
	top: 42%;
	left: 20%;
}
.icon-dashboard{

	top: 28%;
	left: 43%;
}


.fea1 i,.fea2 i,.fea3 i, .fea4 i{
	font-size: 25px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	
	margin: 0px 20px 0px 0px; 
}
.fea1-paragraph{
	width: 100px;
}
.fea1-paragraph p{
	font-size: 14px;
}
.fea1-paragraph h4{
	font-size: 16px;
}
.fea1{
	top: 10%;
	left: 0%;

}
.fea2{
	top: 10%;
	left: 25%;

}
.fea3{
	top: 10%;
	left: 50%;

}
.fea4{
	top: 10%;
	left: 75%;

}
	}